<nav class="relative flex flex-wrap items-center justify-between px-2 py-4 mb-3" data-controller="nav">

  <div class="container mx-auto flex flex-wrap items-center justify-between pt-3 lg:px-3" data-controller="navbar" data-action="mouseout->navbar#hideLine">

    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <div data-action="mouseover->navbar#showLine">
        <%= link_to root_path, class: "leading-relaxed inline-block py-3 whitespace-nowrap" do %>
          <%= image_tag "icons/logo.svg" %>
        <% end %>
        <%= image_tag "lines/Underline.svg", class: "absolute w-44 hidden z-[1]", data: { navbar_target: "line" } %>
      </div>

      <div data-action="click->nav#toggleMenu">
        <%= image_tag "icons/menu.svg", class: "w-8 mt-3 md:mt-4 hover:text-[#d98526] lg:hidden" %>
      </div>
    </div>

    <%# <div class="lg:flex flex-grow items-center" id="example-navbar-warning"> %>

    <ul class="hidden flex-col w-full fixed top-20 right-0 list-none items-end px-[10%] z-[1] sm:px-[20%] md:px-[10vw] lg:p-0 lg:flex lg:flex-row lg:items-center lg:z-auto lg:static lg:w-auto lg:py-0 pb-4 lg:pl-0 pl-7 bg-white" data-nav-target="menu">
      <li class="nav-item flex items-end">
        <%= link_to "about", about_path, class: "lg:px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
      </li>
      <li class="nav-item">
        <%= link_to "skills", skills_path, class: "lg:px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
      </li>
      <li class="nav-item">
        <%= link_to "projects", projects_path, class: "lg:px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
      </li>
      <li class="nav-item">
        <%= link_to "connect", "mailto: contact@alecstrobel.tech", class: "lg:px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
      </li>
    </ul>

    <%# </div> %>

  </div>

</nav>
