<nav class="relative flex flex-wrap items-center justify-between px-2 py-4 mb-3">

  <div class="container mx-auto flex flex-wrap items-center justify-between px-3" data-controller="navbar" data-action="mouseout->navbar#hideLine">

    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start" data-action="mouseover->navbar#showLine">
      <%= link_to root_path, class: "leading-relaxed inline-block py-2 whitespace-nowrap" do %>
        <%= image_tag "icons/logo.svg" %>
      <% end %>
      <%= image_tag "lines/Underline.svg", class: "absolute w-44 -ml-4 hidden", data: { navbar_target: "line" } %>
    </div>

    <div class="lg:flex flex-grow items-center" id="example-navbar-warning">

      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <%= link_to "about", "#", class: "px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
        </li>
        <li class="nav-item">
          <%= link_to "skills", "#", class: "px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
        </li>
        <li class="nav-item">
          <%= link_to "work", "#", class: "px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
        </li>
        <li class="nav-item">
          <%= link_to "fun", "#", class: "px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
        </li>
        <li class="nav-item">
          <%= link_to "connect", "#", class: "px-3 py-2 flex items-center text-xs font-bold leading-snug hover:text-[#d98526]" %>
        </li>
      </ul>

    </div>

  </div>

</nav>
