<div class="container relative pt-14">

  <%# Project Section %>
  <div class="mb-44">

    <div class="flex gap-4 mb-32">
      <div class="flex items-center justify-center w-2/4">
        <%= image_tag @projects[0].thumbnail, class: "rounded-3xl" %>
      </div>
      <div class="w-2/4 pl-10">
        <h2 class="mt-40 mb-5"><%= @projects[0].sub_title %></h2>
        <%= link_to "Read more →", project_path(@projects[0].title), class: "click-me hover:opacity-75" %>
      </div>
    </div>

    <div class="flex gap-4 mb-32">
      <div class="w-2/4 pr-8">
        <h2 class="mt-40 mb-5"><%= @projects[1].sub_title %></h2>
        <%= link_to "Read more →", project_path(@projects[1].title), class: "click-me hover:opacity-75" %>
      </div>
      <div class="flex items-center justify-center w-2/4">
        <%= image_tag @projects[1].thumbnail, class: "rounded-3xl" %>
      </div>
    </div>

    <div class="flex gap-4 mb-32">
      <div class="flex items-center justify-center w-2/4">
        <%= image_tag @projects[2].thumbnail, class: "rounded-3xl" %>
      </div>
      <div class="w-2/4 pl-10">
        <h2 class="mt-40 mb-5"><%= @projects[2].sub_title %></h2>
        <%= link_to "Read more →", project_path(@projects[2].title), class: "click-me hover:opacity-75" %>
      </div>
    </div>

    <div class="flex gap-4 mb-32">
      <div class="w-2/4 pr-8">
        <h2 class="mt-40 mb-5"><%= @projects[3].sub_title %></h2>
        <%= link_to "Read more →", project_path(@projects[3].title), class: "click-me hover:opacity-75" %>
      </div>
      <div class="flex items-center justify-center w-2/4">
        <%= image_tag @projects[3].thumbnail, class: "rounded-3xl" %>
      </div>
    </div>

    <div class="flex gap-4 mb-32">
      <div class="flex items-center justify-center w-2/4">
        <%= image_tag @projects[4].thumbnail, class: "rounded-3xl" %>
      </div>
      <div class="w-2/4 pl-10">
        <h2 class="mt-40 mb-5"><%= @projects[4].sub_title %></h2>
        <%= link_to "Read more →", project_path(@projects[4].title), class: "click-me hover:opacity-75" %>
      </div>
    </div>

  </div>

  <%# Contact Section %>
  <div class="mb-24">

    <div class="contact-request">
      <h2 class="mb-5">Get in touch if you're interested in working with me! I'd love to meet over a call.</h2>
      <a href="#" class="click-me hover:opacity-75">Get in touch →</a>
    </div>

  </div>

</div>
